@using System.Security.Claims
@using City.Tour.Web.Controllers
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    var identity = (ClaimsIdentity)User.Identity;
    IEnumerable<Claim> claims = identity.Claims;
    
    <a class="py-2 d-none d-md-inline-block" href="#">
        <img src="@($"https://graph.facebook.com/{(claims.First(x=>x.Type=="ProfileId").Value)}/picture?type=small")" style="max-height: 50px;" />
        @User.Identity.Name 登出
    </a>
}
else
{
    <a class="py-2 d-none d-md-inline-block" href="@Url.Action(nameof(AccountController.Login),"Account",new{area=""})">註冊 / 登入</a>
}
