@using City.Tour.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="~/Content/reset.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/login.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript">
        var appInsights = window.appInsights || function (a) {
            function b(a) { c[a] = function () { var b = arguments; c.queue.push(function () { c[a].apply(c, b) }) } } var c = { config: a }, d = document, e = window; setTimeout(function () { var b = d.createElement("script"); b.src = a.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js", d.getElementsByTagName("script")[0].parentNode.appendChild(b) }); try { c.cookie = d.cookie } catch (a) { } c.queue = []; for (var f = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; f.length;)b("track" + f.pop()); if (b("setAuthenticatedUserContext"), b("clearAuthenticatedUserContext"), b("startTrackEvent"), b("stopTrackEvent"), b("startTrackPage"), b("stopTrackPage"), b("flush"), !a.disableExceptionTracking) { f = "onerror", b("_" + f); var g = e[f]; e[f] = function (a, b, d, e, h) { var i = g && g(a, b, d, e, h); return !0 !== i && c["_" + f](a, b, d, e, h), i } } return c
        }({
            instrumentationKey: "aebcf91e-94d5-48ae-a122-ec08dafa2452"
        });

        window.appInsights = appInsights, appInsights.queue && 0 === appInsights.queue.length && appInsights.trackPageView();
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117096964-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-117096964-1');
    </script>
</head>
<body class="body_bg" id="body">
    <img class="super_bg" id="super_bg" src="~/Images/login-bg.png" />
    <div id="dialog" title="登入" class="dialog">
        <!-- TODO 設定送出位址 -->
        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src =
                    "https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.12&appId=562489640775797&autoLogAppEvents=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, "script", "facebook-jssdk"));
        </script>
        <div id="login-view" class="text-center">
            <form class="form-signin">
                團隊碼：
                <input type="text" id="teamCode" value="" class="form-control" />
                <hr />
                <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="true" data-auto-logout-link="false" data-use-continue-as="true" data-scope="email,public_profile" onlogin="fbLoginSuccess"></div>
            </form>
        </div>
    </div>
    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.js" integrity="sha256-tcqPYPyxU+Fsv5sVdvnxLYJ7Jq9wWpi4twZbtZ0ubY8=" crossorigin="anonymous"></script>
    <script src="~/Scripts/axios.min.js"></script>
    <script src="~/Scripts/main.js"></script>

    <script type="text/javascript">

        function qs(key) {
            key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx control chars
            var match = location.search.match(new RegExp("[?&]" + key + "=([^&]+)(&|$)"));
            if (!(match == null || match.length === 0)) {
                return match && decodeURIComponent(match[1].replace(/\+/g, " "));
            } else {
                return "";
            }
        }

        var team_id = qs('team');
        $('#teamCode').val(team_id);
        if (team_id != undefined && team_id.length > 0) {
            $('#teamCode').attr('readonly', 'readonly');
        }

        $("#dialog").dialog({
            autoOpen: false,
            show: {
                effect: "blind",
                duration: 1000
            },
            hide: {
                effect: "explode",
                duration: 1000
            },
            buttons: {
                "送出": function () {
                    $('#form').submit();
                }
            }
        });

        jQuery('#super_bg').on('click', function () {
            $('#dialog').dialog('open');
        });

        function fbLoginSuccess(fbResponse) {
            console.log(fbResponse);
            if (fbResponse.status == "connected") {
                FB.api("/me",
                    { locale: "zh_TW", fields: "id, name, email" },
                    function (response) {

                        bootbox.alert("登入中，請稍後...");
                        console.log(response.id);
                        console.log(response.email);
                        console.log(response.name);

                        var teamCode = $("#teamCode").val();
                        if (teamCode == undefined || teamCode == "") {
                            bootbox.hideAll();
                            bootbox.alert("請輸入團隊碼！");
                            return;
                        }

                        axios.post("/Account/FbLogin",
                            {
                                ProfileId: response.id,
                                Email: response.email,
                                Name: response.name,
                                TeamCode: teamCode
                            }).then(function (response) {
                                location.href = response.data;
                            }).catch(function (error) {
                                console.log(error);
                            });
                    }
                );
            } else if (response.status === "not_authorized") {
                console.log("Failed to Connect");
                bootbox.alert("Failed to Connect<br/>" + JSON.stringify(response));
                //FAILED
            } else {
                console.log("UNKNOWN ERROR" + JSON.stringify(response));
            }
        }

        function qs(key) {
            key = key.replace(/[*+?^$.\[\]{}()|\\\/]/g, "\\$&"); // escape RegEx control chars
            var match = location.search.match(new RegExp("[?&]" + key + "=([^&]+)(&|$)"));
            return match && decodeURIComponent(match[1].replace(/\+/g, " "));
        }

        var team_id = qs('team');
        $('#teamCode').val(team_id);
        if (team_id != undefined && team_id.length > 0) {
            $('#teamCode').attr('readonly', 'readonly');
        }
    </script>
</body>
</html>