@using City.Tour.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@section contents{

    <link href="~/Content/bootstrap-signin.css" rel="stylesheet" />
    <style>
        #login-view {
            background: url(/Images/login-bg.png) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
}

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src =
            "https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.12&appId=562489640775797&autoLogAppEvents=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, "script", "facebook-jssdk"));
</script>

<div id="login-view" class="text-center">
    <form class="form-signin">
        <img class="mb-4" src="@Url.Content("~/Images/story-go-btn.png")" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">登入</h1>
        <hr />
        <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="true" data-auto-logout-link="false" data-use-continue-as="true" data-scope="email,public_profile" onlogin="fbLoginSuccess"></div>
    </form>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/axios.min.js"></script>
    <script>
        function fbLoginSuccess(fbResponse) {
            console.log(fbResponse);
            if (fbResponse.status == "connected") {
                FB.api("/me",
                    { locale: "zh_TW", fields: "id, name, email" },
                    function (response) {
                        console.log(response.id);
                        console.log(response.email);
                        console.log(response.name);

                        axios.post("/Account/FbLogin", {
                            ProfileId: response.id,
                            Email: response.email,
                            Name: response.name
                        }).then(function (response) {
                            location.href = response.data;
                        }).catch(function (error) {
                            console.log(error);
                        });
                    }
                );
            } else if (response.status === "not_authorized") {
                console.log("Failed to Connect");
                bootbox.alert("Failed to Connect<br/>" + JSON.stringify(response));
                //FAILED
            } else {
                console.log("UNKNOWN ERROR" + JSON.stringify(response));
            }
        }
    </script>
}