<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ci.Extensions" version="1.0.4" targetFramework="net47" />
  <package id="Ci.Mvc.Sort" version="1.0.0" targetFramework="net47" />
  <package id="Ci.Sequential" version="2.0.0" targetFramework="net47" />
  <package id="Dapper" version="1.50.4" targetFramework="net47" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net47" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net47" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net47" />
  <package id="Owin" version="1.0" targetFramework="net47" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net47" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net47" />
  <package id="X.PagedList" version="7.2.2" targetFramework="net47" />
</packages>