@{
    ViewBag.Title = "Home Page";
}

@section contents{
    <link href="~/Content/bootstrap-product.css" rel="stylesheet" />
}

<div class="container">
    <img class="img-fluid" src="~/Images/map-demo-content.png" />
</div>